.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--secondary-bg);
  border: none;
  outline: none;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--text-primary);
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: var(--orange);
    }
  }
}
