.container {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;

  .input {
    outline: none;
    border-bottom: 1px solid var(--orange);
    font: var(--font-m);
    color: var(--text-primary);
    background: transparent;
    width: 223px;
    padding: 4px 8px;
  }

  .iconSection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    right: 12px;

    svg {
      width: 24px;
      height: 24px;

      path {
        fill: var(--orange);
      }
    }
  }
}
