.notePage {
  width: 100%;
  margin: 0 auto;
  padding: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    .title {
      margin: 0;
      font: var(--font-xl);
      color: var(--text-primary);
    }

    .titleInput {
      flex-grow: 1;
      font: var(--font-xl);
      color: var(--text-primary);
      outline: none;
      background: transparent;
      border-bottom: 1px solid var(--orange);
    }
  }
}

.group,
.date {
  color: var(--text-secondary);
  font: var(--font-m);
}

.content {
  margin-top: 20px;
}
