.app.dark {
  --red: #ff453a;
  --orange: #ff9f0a;
  --yellow: #ffd60a;
  --green: #32d74b;
  --mint: #66d4cf;
  --teal: #6ac4dc;
  --cyan: #5ac8f5;
  --blue: #0a84ff;
  --indigo: #5e5ce6;
  --purple: #bf5af2;
  --pink: #ff375f;
  --brown: #ac8e68;
  --gray: #98989d;

  --text-primary: rgba(255, 255, 255, 0.85);
  --text-secondary: rgba(255, 255, 255, 0.5);
  --text-tertiary: rgba(255, 255, 255, 0.25);

  --sidebar-bg: rgba(0, 0, 0, 0.45);
  --popover-bg: rgba(0, 0, 0, 0.28);
  --under-window-bg: rgba(0, 0, 0, 0.45);
  --primary-bg: #616161;
  --secondary-bg: #9e9e9e;
}
