.note {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 8px 12px;
  border-bottom: 1px solid var(--gray);
  text-decoration: none;

  .title {
    max-width: calc(100% - 24px);
    font: var(--font-m);
    text-decoration: none;
    font-weight: 500;
    color: var(--text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .additionaInfo {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    .createdAt {
      font: var(--font-m);
      text-decoration: none;
      color: var(--text-primary);
    }

    .group {
      display: flex;
      gap: 4px;
      align-items: center;

      .groupCircle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--red);

        &--Семья {
          background-color: var(--green);
        }
        &--Работа {
          background-color: var(--mint);
        }
        &--Дом {
          background-color: var(--purple);
        }
        &--Личное {
          background-color: var(--orange);
        }
        &--Путешествия {
          background-color: var(--yellow);
        }
      }

      .groupName {
        font: var(--font-m);
        color: var(--text-secondary);
        text-decoration: none;
      }
    }
  }
}
