.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .createBtn {
    padding: 8px 12px;
    background-color: var(--orange);
    font: var(--font-l);
    color: var(--text-primary);
    border-radius: 12px;

    &:hover {
      background-color: var(--yellow);
      cursor: pointer;
    }
  }
}
